<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View MongoDB Data</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-4">
        <h2>MongoDB Data</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Place</th>
                </tr>
            </thead>
            <tbody>
                {% for item in data %}
                <tr>
                    <td ><a href="{{ url_for('get_user', name=item.name) }}" style="color: black;">{{ item.name }}</a></td>
                    <td>{{ item.place }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <a href="/" class="btn btn-primary">Back to Home</a>
    </div>
</body>
</html>







